/* Section aboutUs-banner */
.aboutUs-banner{
    background: url(../assets/aboutUs-banner.jpg) center;
    background-size: cover;
    height: 594px;
    margin-bottom: 133px;
}
.aboutUs-banner__offer{
    margin: 245px auto 0;
    padding: 0 15px;
    color: #fff;
    max-width: 627px;
    text-align: center;
}
.aboutUs-banner__offer h1{
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--light-grey);
}
.aboutUs-banner__offer p{
    font-size: 14px;
    line-height: 19px;
}
/* Section aboutUs-material */
.aboutUs-material{
    margin-bottom: 113px;
}
.aboutUs-material p{
    max-width: 627px;
    font-size: 14px;
    margin: 0 auto 153px;
    text-align: center;
}
.aboutUs-material__imgs{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    gap: 128px;
}
.aboutUs-material__img-left{
    max-width: 550px;
    width: 100%;
    height: 550px;
    background: url("../assets/aboutUs2.jpg") center;
    background-size: cover;
    flex-shrink: 1;
}
.aboutUs-material__img-right-wrapper::after{
    content: "";
    position: absolute;
    width: 246px;
    height: 205px;
    background: url(../assets/aboutUsDecor1.svg);
    background-size: contain;
    top: 10px;
    left: 60px;
    z-index: 2;
}
.aboutUs-material__img-right-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    width: 100%;
    height: 550px;
    flex-shrink: 1;
    position: relative;
}
.aboutUs-material__img-right{
    background: url("../assets/aboutUs3.jpg") center;
    background-size: cover;
    max-width: 400px;
    height: 350px;
    width: 100%;
}

/* Section aboutUs-goods */
.aboutUs-goods{
margin-bottom: 160px;
}
.aboutUs-goods__offer{
    max-width: 627px;
    margin-bottom: 100px;
}
.aboutUs-goods__offer h3{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 30px;
}
.aboutUs-goods__offer p{
    font-size: 14px;
    padding-bottom: 20px;
}
.aboutUs-goods__imgs{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    gap: 53px;
}
.aboutUs-goods__img-left{
    max-width: 410px;
    width: 100%;
    height: 410px;
    background: url("../assets/aboutUs4.jpg") center;
    background-size: cover;
    flex-shrink: 1;
}
.aboutUs-goods__img-right-wrapper::after{
    content: "";
    position: absolute;
    width: 246px;
    height: 205px;
    background: url(../assets/aboutUsDecor2.svg) right;
    background-size: contain;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}
.aboutUs-goods__img-right-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 410px;
    width: 100%;
    height: 410px;
    flex-shrink: 1;
    position: relative;
}
.aboutUs-goods__img-right{
    background: url("../assets/aboutUs5.jpg") top;
    background-size: cover;
    max-width: 280px;
    height: 280px;
    width: 100%;
    
}
/* Section aboutUs-safety */
.aboutUs-safety{
    background-color: var(--light-grey);
}
.aboutUs-safety p{
    max-width: 627px;
    margin: 110px auto 97px;
    font-size: 14px;
    text-align: center;
    padding: 0 15px;
}
@media screen and (max-width: 768px) {
    .aboutUs-banner{
        height: 462px;
        margin-bottom: 90px;
    }
    .aboutUs-banner__offer{
        margin: 167px auto 0;
    }
    .aboutUs-material{
        margin-bottom: 90px;
    }
    .aboutUs-material p{
        margin-bottom: 90px;
    }
    .aboutUs-material__img-left,.aboutUs-material__img-right-wrapper{
        height: 345px;
    }
    .aboutUs-material__img-right{
        height: 220px;
    }
    .aboutUs-material__img-right-wrapper::after{
        width: 153px;
        height: 127px;
        top: 0px;
    }
    .aboutUs-goods {
        margin-bottom: 90px;
    }
    .aboutUs-goods__offer{
        margin-bottom: 90px;
    }
    .aboutUs-goods__img-left,.aboutUs-goods__img-right-wrapper{
        height: 280px;
    }
    .aboutUs-goods__img-right{
        height: 195px;
    }
    .aboutUs-goods__img-right-wrapper::after{
        width: 153px;
        height: 127px;
        right: 10px;
    }
    .aboutUs-safety p{
        margin: 67px auto 81px;
    }
}
@media screen and (max-width: 600px) {
    .aboutUs-material__imgs{
        flex-wrap: wrap;
        gap: 70px;
    }
    .aboutUs-material__img-right-wrapper{
        padding: 0 30px;
    }
    .aboutUs-material{
        margin-bottom: 20px;
    }
    .aboutUs-goods {
        margin-bottom: 20px;
    }
    .aboutUs-goods__offer{
        margin-bottom: 70px;
    }
    .aboutUs-goods__imgs{
        flex-wrap: wrap;
        justify-content: center;
        gap: 52px;
    }
    .aboutUs-goods__img-right-wrapper{
        padding: 0 30px;
    }
    .aboutUs-safety p{
        margin: 58px auto;
    }
}
@media screen and (max-width: 375px) {
    .aboutUs-banner{
        margin-bottom: 70px;
    }
    .aboutUs-material p{
        margin-bottom: 70px;
    }
    
}