.favorite-wrapper{
  max-width: 1119px;
    width: 100%;
    padding: 0 15px;
    margin: 50px auto;
}
.favorite__list{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.favorite__list .product-card {
  flex-basis: calc(33.333% - 10px);
  max-width: 400px;
  /* max-width: 353px; */
  width: 100%;
  min-width: 270px;
  position: relative;
}
@media screen and (max-width: 869px){

  .favorite__list .product-card {
      flex-basis: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 584px){
  .favorite__list {
    justify-content: space-around;
  }
  .favorite__list .product-card {
      flex-basis: 100%;
  }
}