.empty-cart {
  border-top: 1px solid #EAE9E8;
  margin-top: 62px;
}

.empty-cart-wrapper {
  margin: 60px auto 200px;
  padding: 0 15px;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart h3 {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3%;
  margin-bottom: 75px;
  font-weight: 500;
}

.empty-cart__img {
  width: 100%;
  height: 91px;
  background: url(/public/emptyCart.svg) no-repeat center center;
  background-size: contain;
  margin-bottom: 41px;
}

.empty-cart p {
  text-align: center;
  margin-bottom: 19px;
}

.cart {
  border-top: 1px solid #EAE9E8;
  margin-top: 62px;
}

.cart h3 {
  padding: 45px 0 30px;
  border-bottom: 1px solid var(--dark-grey);
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.cart-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cart__order-form {
  grid-column: 1/2;
}

.cart__offer-enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/2;
  margin-left: auto;
  border-left: 1px solid var(--dark-grey);
  max-width: 420px;
  /* min-height: 100%; */
  padding: 30px 30px 0 30px;
}

.cart__offer-enter-box {
  max-width: 300px;
  padding-bottom: 50px;
}

.cart__table {
  border-left: 1px solid var(--dark-grey);
  padding-top: 15px;
  grid-column: 2/3;
}

.cart__table-total {
  margin: 30px 38px;
  font-size: 20px;
}

.cart__table-total span {
  margin-left: 10px;
  font-weight: bold;
}

.cart__offer-enter p {
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--focus);
}

@media (max-width:833px) {
  .cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart__offer-enter {
    order: 2;
    margin-left: 0;
    border-left: none;
    border-top: 1px solid var(--dark-grey);
    min-width: 100%;
  }

  .cart__offer-enter-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart__order-form {
    order: 2;
    min-width: 100%;
    border-top: 1px solid var(--dark-grey);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-bottom: 20px;
  }

  .order-form {
    margin-left: 0;
    border-left: none;
  }

  .order-form .input-text-wrapper {
    width: 100%;
  }

  .btn.order-form__btn {
    width: 100%;
  }

  .cart__table {
    width: 100%;
    border-left: none;
    padding-top: 0;
  }

  .cart__table-total {
    margin: 30px 30px;
  }
}

@media (max-width:467px) {
  .cart__table {
    margin-left: 0px;
    border-left: none;
    padding-top: 0;
  }
}

@media (max-width:400px) {
  .cart__table-total {
    margin: 30px 15px;
  }

  .order-form {
    padding: 30px 15px 0 15px;
  }
}