.size{
  width: 35px;
  height: 35px;
  border: 1px solid var(--light-grey);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-color: var(--light-grey);
  color: var(--dark-grey);
}
.size-wrapper input[type=radio] {
	display: none;
}
.size p{
  display: block;
}
.size-in-stock{
  color: var(--basic-dark);
  background-color: transparent;
  cursor: pointer;
}
input[type=radio]:checked+p.size {
  border-color: var(--focus);
}
/* .size:active{
  border-color: var(--focus);
} */