.input-text-wrapper {
  margin-bottom: 20px;
  position: relative;
  width: 250px;
}
.input-text-field {
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--basic-first);
  padding: 0 0 10px;
}
.input-text-field::placeholder {
  color: #b7c1c5;
}
.input-text-field.is-invalid {
  border-bottom: 1px solid var(--focus);
}
.icon-eye {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0px;
  right: 0;
  border: none;
  background: transparent;
}
.btn.btn-enter {
  width: 100%;
  margin-bottom: 30px;
}
.btn.btn-enter:disabled {
  cursor: auto;
  background-color: var(--dark-grey);
  color: #141414;
}
.invalid-feedback {
  font-size: 13px;
  color: var(--focus);
}
.form-check {
  margin-bottom: 10px;
}
.form-check-input {
  margin-right: 5px;
}
.form-check-input:checked {
  background-color: var(--dark-grey);
}
.form-check-label {
  margin-left: 10px;
  font-size: 12px;
}
/* .checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox:checked + label:before {
	background: #9FD468;
}
.checkbox:checked + label:after {
	left: 26px;
}
.checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
} */
.checkbox.style-c {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: var(--basic-dark);
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  background-color: var(--basic-dark);
}
.checkbox.style-c .checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: 1px solid var(--basic-dark);
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 14px;
}
.login-error {
  margin-bottom: 15px;
  width: 250px;
}
.register-error {
  margin-bottom: 15px;
}
@media screen and (max-width: 600px) {
  .input-text-wrapper {
    width: 100%;
  }
}
