.product-card{
    width: 270px;
    position: relative;

}
.product-card:hover{
    background-color: rgb(245, 246, 247);
    border-radius: 5px;
}
.product-img{
    height: 325px;
    display: grid;
    margin-bottom: 15px;    
}
.product-img img{
    width: 270px;
    height: 325px;
    object-fit: cover;
}
.product-img img, .product-discount{
    grid-column: 1/2;
    grid-row: 1/2;
}
.product-discount{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--focus);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px auto;
    font-size: 14px;
    font-weight: 500;
    
}
.product-bookMark{
    top: 270px;
    right: 10px;
}
.product-description{
    text-align: center;
    margin-bottom: 25px;
}
.product-description__brand{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.product-description__shortDescription{
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 7px;
}
.product-description__price{
    font-weight: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
}
.product-price__with-discount span{
    text-decoration: line-through solid var(--dark-grey);
    color: var(--dark-grey);
    font-weight: 500;
    margin-right: 5px;
}
.product-price__with-discount{
    color: var(--focus);
}



