.goods-wrapper{
    display: flex;
    margin-bottom: 127px;
}
.goods__nav{
    width: 245px;
    margin-right: 25px;
    box-sizing: border-box;
}
.goods__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 38px;
}
.goods__content-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 24px;
}
.goods__content-detail-box{
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    margin-bottom: 33px;
}
.goods__content-count{
    opacity: 0.3;
}
.goods__content-count,.goods__content-sort{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}
.goods__content-sort span{
    opacity: .3;
    margin-right: 7px;
}
.goods__content-sort-select{
    display: inline-block;
}
/* Кастомизация Select с префиксом custom-select */
.custom-select__control{
    border: none !important;
    border-bottom: 1px solid var(--dark-grey) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.custom-select__control--menu-is-open{
    border-color: var(--basic-dark) !important;
}
.custom-select__indicator-separator{
    width: 0 !important;
}
.custom-select__value-container{
    padding: 0 !important;
}
.custom-select__indicator{
    padding: 0 !important;
}
.custom-select__option{
    cursor: pointer !important ;
}
.custom-select__option--is-focused{
    background-color: var(--light-grey) !important;
}
.custom-select__option--is-selected{
    background-color: var(--basic-dark) !important;
}
/* Конец кастомизации Select */
.goods__content-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}