.product-card{
    width: 270px;
    position: relative;

}
.product-card:hover{
    background-color: rgb(245, 246, 247);
    border-radius: 5px;
}
.product-img{
    height: 325px;
    display: grid;
    margin-bottom: 15px; 
    position: relative;   
}
.product-img img{
    width: 270px;
    height: 325px;
    object-fit: cover;
}
.product-bookMark{
    top: 270px;
    right: 10px;
}
.product-description{
    text-align: center;
    margin-bottom: 25px;
}
.product-description__brand{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.product-description__shortDescription{
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 7px;
}
.product-description__price{
    font-weight: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
}
.product-description__price.price__with-discount span{
    font-weight: 500;
  }



