.card{
  margin-bottom: 100px;
}
.card-wrapper{
  max-width: 839px;
  margin: 0px auto;
  display: flex;
}
.card__img-wrapper{
  margin-right: 36px;
  position: relative;
}
.card__img{
  width: 430px;
  height: 520px;
  object-fit: cover;
}
.card-bookMark{
  top: 465px;
  right: 10px;
}