.second-banner{
    margin: 120px 0;
    background-color: #CEC6C4;
}
.second-banner-wrapper{
    display: flex;
}
.second-banner__left{
    width: 50%;
    background: url(/src/app/assets/banner2.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.second-banner__offer {
    max-width: 580px;
    padding: 151px 0 235px 15px;
    color: #fff;
} 
.second-banner__offer h1{
    font-family: 'Cormorant', serif;
    font-size: 90px;
    font-weight: 500;
    line-height: 102%;
    text-transform: uppercase;
    margin-bottom: 15px;
} 
.second-banner__offer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 34px;
    max-width: 468px;
} 
.second-banner__offer a{
    color: var(--light-grey);
} 
.second-banner__right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-banner__right-wrapper{
    background-color: #fff;
    height: 600px;
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}
.second-banner__right-content{
    background: url(../assets/banner2-img.jpg) no-repeat center;
    background-size: cover;
    height: 380px;
    max-width: 380px;
    display: flex;
    align-items: flex-end;
}
.second-banner__right-content p{
    color: #fff;
    max-width: 310px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 14px;
    line-height: 17px;
}
@media screen and (max-width: 1150px) {
    .second-banner-wrapper{
        display: block;
    }
    .second-banner__left{
        width: 100%;
        justify-content: center;
    }
    .second-banner__offer h1{
        font-size: 80px;
    } 
    .second-banner__right{
        width: 100%;
        padding: 50px 0;
    }
}