html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-dark);
}
.container{
  max-width: 1363px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.narrow-container{
  max-width: 870px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  /* text-transform: uppercase; */
  color: var(--basic-dark);
}
:root{
  --basic-first: #254A5A;
  --basic-dark: #0F303F;
  --focus: #E64926;
  --dark-grey: #CEC6C4;
  --light-grey: #EAE9E8;
  --toastify-color-dark: #0F303F;
}
.active-link{
  color: var(--focus);
}
.btn{
  width: 220px;
  height: 41px;
  text-transform: uppercase;
  background-color: var(--basic-dark);
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.btn:hover{
  background-color: #0b222c;
}
.btn:disabled{
  background-color: var(--dark-grey);
}
/* .btn:active{
  background-color: #081920;

} */