.card{
  margin-bottom: 100px;
  position: relative;
}
.card-wrapper{
  max-width: 846px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.card__img-wrapper{
  margin-right: 36px;
  position: relative;
  width: 100%;
  max-width: 430px;
}
.card__img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}
.card-bookMark{
  position: absolute;
  top: 465px;
  right: 55px;
}
.card__content{
  max-width: 380px;
}
.card__content .invalid-feedback{
  margin-bottom: 15px;
}
.card__content-brand{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  overflow-wrap: break-word;
}
.card__content-shortDescription{
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  overflow-wrap: break-word;
}
.card__content-price{
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 23px;
}
.card__content-sizes p{
  font-size: 12px;
  margin-bottom: 5px;
}
.card__content-sizes-box{
  display: flex;
  gap: 10px;
  margin-bottom: 27px;
}
.card__content-counter{
  margin-bottom: 35px;
}
.card__content-btn{
  width: 280px;
  margin-bottom: 55px;
}
.card__content-popup-box{
  margin-bottom: 20px;
}
.card__content-popup-box button{
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 14px;
  opacity: 0.4;
  padding: 0;
  cursor: pointer;
  margin-right: 30px;
}
.card__content-popup-box button+button{
  margin-right: 0px;
}
.card__content-description{
  max-width: 380px;
  font-size: 14px;
  line-height: 170%;
}
.card__content-description h3{
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 16px;  
}
.card__content-long-description {
  max-height: 70px;
  overflow: hidden;
  position: relative;
}

.card__content-long-description.expanded {
  max-height: none;
}
.card__content-long-description .bottom {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 100%);
  width: 100%;
  height: 20px;
  opacity: 1;
  transition: .3s;
}
.card__content-long-description.expanded .bottom{
  display: none;
}
.show-more {
  background-color: transparent;
  border: none;
  color: #03409c;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 0;
}
.card-modal{
  font-size: 14px;
  line-height: 17px;
}
.card-modal h3{
  text-transform: uppercase;
}
.card-modal h4,.card-modal h3{
  font-weight: 600;
  margin-bottom: 13px;
}
.card-modal p{ 
  margin-bottom: 17px;
}
.card-modal .card-modal-last-p{
  margin-bottom: 29px;
}
.card__modal-img{
  width: 100%;
  height: 520px;
  /* height: auto; */
  object-fit: contain;
}
@media screen and (max-width: 728px) {
  .card-wrapper{
    flex-wrap: wrap;
  }
  .card__img-wrapper{
    margin-bottom: 30px;
    margin-right: 0;
  }
}